@charset "UTF-8";

body {
	@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
	font-family: 'Oswald', sans-serif;
	font-family: 'Noto Serif JP', serif;
}

.field {
	width:100%;
	height:100vw;
	padding-top: 20px;
	background-image: url("../img/field.jpg");
}

.field_map {
	width: 1040px;
	margin: 20px auto 0;
	height:500px;
	border: solid 1px green;
}

.map_mass {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: solid 1px #000;
	margin-bottom: -4px;
}

/*全ウィンドウ*/
.window {
	position: absolute;
	z-index: 100;
	padding: 15px;
	background:#fff;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
	color: #fff;
	line-height: normal;
	list-style: none;
}

.statusWindow {
	top: 0;
    width: 32%;
	height: -webkit-fill-available;
	background-blend-mode: hard-light;
	font-size: 20px;
	z-index: 200;
}

.statusWindow span{
    font-weight: bold;
}

.statusWindow li {
	width: fit-content;
	margin: 0 0 8px -15px;
	padding-left: 20px;
	background: linear-gradient(90deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .0));
	line-height: 3.6rem;
}

.statusWindow li:first-child {
	font-weight: bold;
}

.playerStatusWindow {
	background: linear-gradient(-45deg, rgba(0, 46, 255, .6), rgba(0, 2, 34, .8)),
	url(../img/torphin.jpg);
	background-size: cover;
}

.enemyStatusWindow {
	right: 0;
    background: linear-gradient(90deg, rgba(255, 0, 0, .6), rgba(0, 0, 34, .8)),
	url(../img/torker.jpg);
	background-size: cover;
}

.otherStatusWindow {
	right: 0;
	background: linear-gradient(90deg, rgba(0, 255, 19, .6), rgba(0, 48, 14, .8)),
	url(../img/knu-t.jpg);
	background-size: cover;
}

.comandWindow {
	top: 40%;
	right: 0;
	width: 8%;
	background: linear-gradient(-45deg, rgba(0, 46, 255, .6), rgba(0, 2, 34, .8));
}

.comandWindow li {
	margin: 0 0 8px -15px;
	padding-left: 20px;
	background: linear-gradient(90deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .0));
	cursor: pointer;
	font-size: 20px;
	line-height: 3.6rem;
}

.turnWindow {
	right: 0;
	width: 8%;
	background: linear-gradient(90deg, rgba(0, 46, 255, .6), rgba(0, 2, 34, .8));
	line-height: 1.5rem;
}

.turnWindow span {
	font-size: 35px;
}

.modal{
	z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}
.modal__bg{
	position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

/*全キャラクター*/
.playerUnit {
	position: absolute;
	width:50px;
	height:50px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
	background-color:blue;
}

.enemyUnit {
	width:50px;
	height:50px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
	background-color:red;
}

.otherUnit {
	width:50px;
	height:50px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
	background-color: green;
}

.unitHpGauge {
	position: absolute;
	margin-top : 44px;
	width: 56px;
	height:6px;
	background-color: #222;
	border-radius: 6px;
	border: solid 1px #fff;
	box-shadow: 0px -1px 15px rgba(0,0,0,0.5);
}

.unitHpGauge::before {
	content: " ";
	position: absolute;
	margin: -3px 0px 0px -3px;
	width: 58px;
    height: 8px;
    display: inline-block;
    border-radius: 6px;
    border: solid 2px #222;
}

.unitHpGaugeInner {
	width:100%;
	height:6px;
	background: linear-gradient(-90deg, rgba(0, 46, 255, .8), rgba(0, 2, 34, .8));
	border-radius: 6px;
}

.unitMoveingArea {
	width:50px;
	height:50px;
	background: linear-gradient(90deg, rgba(0, 46, 255, .8), rgba(0, 2, 34, .8));
	cursor: pointer;
	opacity: 0.8;
}

.unitAttackArea {
	width:50px;
	height:50px;
	background: linear-gradient(90deg, rgba(255, 0, 0, .8), rgba(113, 0, 0, .8));
	opacity: 0.8;
}