@charset "UTF-8";
@font-face {
}

body {
	@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
	font-family: 'Oswald', sans-serif;
	font-family: 'Noto Serif JP', serif;
}

.field {
	width:100%;
	height:1000px;
	padding-top: 20px;
	background-image: url("img/field.jpg");
}

.field_map {
	width: 1040px;
	margin: 20px auto 0;
	height:500px;
	border: solid 1px green;
}

.map_mass {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: solid 1px #000;
	margin-bottom: -4px;
}

/*全ウィンドウ*/
.window {
	position: absolute;
	z-index: 100;
	padding: 15px;
	background:#fff;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
	line-height: normal;
	list-style: none;
}

.statusWindow {
	top: 0;
    width: 32%;
	height: -webkit-fill-available;
	background-blend-mode: hard-light;
	color:#fff;
	font-size: 20px;
}

.statusWindow em {
	font-size: 35px;
}

.statusWindow span{
    font-weight: bold;
}

.statusWindow li {
	width: fit-content;
	margin: 0 0 8px -15px;
	padding-left: 20px;
	background: linear-gradient(90deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .0));
	line-height: 3.6rem;
}

.statusWindow li:first-child {
	font-weight: bold;
}

.playerStatusWindow {
	background: linear-gradient(-45deg, rgba(0, 46, 255, .6), rgba(0, 2, 34, .8)),
	url(img/torphin.jpg);
	background-size: cover;
}

.enemyStatusWindow {
	right: 0;
    background: linear-gradient(90deg, rgba(255, 0, 0, .6), rgba(0, 0, 34, .8)),
	url(img/torker.jpg);
	background-size: cover;
}

.otherStatusWindow {
	right: 0;
	background: linear-gradient(90deg, rgba(0, 255, 19, .6), rgba(0, 48, 14, .8)),
	url(img/knu-t.jpg);
	background-size: cover;
}

.massageWindow {
	bottom: -150px;
	width:1000px;
	height: 110px;
	border: solid 2px green;
}

.comandWindow {
	top: 40%;
	right: 0;
	width: 8%;
	background: linear-gradient(-45deg, rgba(0, 46, 255, .6), rgba(0, 2, 34, .8));
	color: #fff;
}

.comandWindow li {
	margin: 0 0 8px -15px;
	padding-left: 20px;
	background: linear-gradient(90deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .0));
	cursor: pointer;
	font-size: 20px;
	line-height: 3.6rem;
}

/*全キャラクター*/
.playerUnit {
	position: absolute;
	width:50px;
	height:50px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
	background-color:blue;
}

.enemyUnit{
	width:50px;
	height:50px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
	background-color:red;
}

.otherUnit{
	width:50px;
	height:50px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
	background-color: green;
}

.unitMoveingArea {
	width:50px;
	height:50px;
	background: linear-gradient(90deg, rgba(0, 46, 255, .8), rgba(0, 2, 34, .8));
	cursor: pointer;
	opacity: 0.8;
}

.unitAttackArea {
	width:50px;
	height:50px;
	background: linear-gradient(90deg, rgba(255, 0, 0, .8), rgba(113, 0, 0, .8));
	opacity: 0.8;
}